* {
  font-family: sans-serif;
  box-sizing: border-box;
  font-weight: bold;
}

body,
html {
  background-color: #e7ffde;
  padding: 0;
  margin: 0;
}

.table {
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

.tbody {
  background-color: #ffffff;
}

.tr > td {
  border-bottom: 2px solid #e8eaed;
  padding: 15px;
}

.blue {
  background-color: #4267b2;
}

.red {
  background-color: #e31937;
}

.orange {
  background-color: #c26c03;
}

.gray {
  background-color: #737373;
}

.bright_red {
  background-color: #ed161e;
}

.bright_gray {
  background-color: #666666;
}
